<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.museum.dao.AdminDictTypeMapper">
    <resultMap id="BaseResultMap" type="com.example.museum.po.AdminDictTypePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="data_flag" jdbcType="TINYINT" property="dataFlag"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, code, name, note, status, data_flag, update_user_id, create_user_id, create_time,
    update_time
  </sql>

    <insert id="insert" parameterType="com.example.museum.po.AdminDictTypePO">
        insert into admin_dict_type_info (id, code, name,
        note, status, data_flag,
        update_user_id, create_user_id, create_time,
        update_time)
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{note,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{dataFlag,jdbcType=TINYINT},
        #{updateUserId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, SYSDATE(),
        SYSDATE())
    </insert>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_dict_type_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_dict_type_info
        where code = #{code,jdbcType=VARCHAR}
    </select>

    <select id="pageCount" resultType="int">
        select count(1)
        from admin_dict_type_info t
        WHERE data_flag = 0 and status = 0
        <if test="code != null and code != ''">
            and code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name != ''">
            and name = #{name,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_dict_type_info r
        WHERE data_flag = 0 and status = 0
        <if test="code != null and code != ''">
            and code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name != ''">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        order by update_time desc
        LIMIT #{page.limitOneValue},#{page.pageSize}
    </select>

    <select id="dictTypeList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_dict_type_info r
        WHERE data_flag = 0 and status = 0
    </select>
</mapper>