<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.museum.dao.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.example.museum.po.AdminUserPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="data_flag" jdbcType="TINYINT" property="dataFlag"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_code, password, name, sex, mobile, status, data_flag, remark, create_user_id, update_user_id, create_time,
    update_time
  </sql>

    <insert id="insert" parameterType="com.example.museum.po.AdminUserPO">
    insert into admin_user_info (id, user_code, password,
      name, sex, mobile,
      status, data_flag, remark,
      create_user_id, update_user_id,
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{mobile,jdbcType=VARCHAR},
      #{status,jdbcType=TINYINT}, #{dataFlag,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR},
      #{createUserId,jdbcType=BIGINT}, #{updateUserId,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

    <insert id="insertSelective" parameterType="com.example.museum.po.AdminUserPO">
        insert into admin_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userCode != null and userCode != ''">
                user_code,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="mobile != null and mobile != ''">
                mobile,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="dataFlag != null">
                data_flag,
            </if>
            <if test="remark != null and remark ! ''">
                remark,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userCode != null and userCode != ''">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="mobile != null and mobile != ''">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="dataFlag != null">
                #{dataFlag,jdbcType=TINYINT},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_user_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getByUserCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_user_info
        where user_code = #{userCode,jdbcType=VARCHAR}
        and data_flag = 0
    </select>

    <select id="getByMobile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_user_info
        where mobile = #{mobile,jdbcType=VARCHAR}
        and data_flag = 0
    </select>

    <update id="update" parameterType="com.example.museum.po.AdminUserPO">
        update admin_user_info
        <set>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="batchUpdateStatusById">
        update admin_user_info set status = #{status,jdbcType=TINYINT}, update_user_id =
        #{updateUserId,jdbcType=BIGINT},
        update_time = SYSDATE()
        where id in
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </update>


    <update id="batchDeleteById">
        update admin_user_info set data_flag = #{dataFlag,jdbcType=TINYINT}, update_user_id =
        #{updateUserId,jdbcType=BIGINT},
        update_time = SYSDATE()
        where id in
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="updatePasswordById">
        update admin_user_info set password = #{password,jdbcType=VARCHAR}, update_user_id =
        #{updateUserId,jdbcType=BIGINT},
        update_time = SYSDATE()
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="page_sql">
        <if test="param.userCode != null and param.userCode != ''">
            and user_code = #{param.userCode}
        </if>
        <if test="param.mobile != null and param.mobile !=''">
            and mobile LIKE CONCAT('%',#{param.mobile},'%')
        </if>
        <if test="param.name != null and param.name !=''">
            and name LIKE CONCAT('%',#{param.name},'%')
        </if>
        <if test="param.status != null">
            and status = #{param.status}
        </if>
        <if test="param.sex != null">
            and sex = #{param.sex}
        </if>
    </sql>

    <select id="listCount" resultType="int">
        select count(1)
        from admin_user_info t
        WHERE data_flag = 0
        <include refid="page_sql"/>
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_user_info t
        WHERE data_flag = 0
        <include refid="page_sql"/>
        order by t.update_time desc
        LIMIT #{page.limitOneValue},#{page.pageSize}
    </select>
</mapper>